.ui-pnotify.stack-mobile{
  top:2%;
  left: 50%;
  margin-left: -150px;
}

.container {
  width: 100%;
}


.ui-pnotify.stack-learnMore {
  top:10%;
  left: 15%; 
  width: 70%!important;
}

#learnMoreDiv {
  overflow: hidden!important;
}

#learnMoreInfo {
  float: left;
  padding: 10px 20px 5px 5px;
  max-width: 180px;
  text-align: center;
  font-size: 14px;
}

#learnMoreBio {  
  height: 300px;
  text-align: justify;
  padding-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}


#langMainDiv {
  margin: -39px 0 0 150px;
}

.lang-area {
  color: gray;
}

.lang {
  cursor: pointer;
}

.logo:hover {
  text-decoration: none;
  color: #428bca;
}

.lang img, .lang-active img {
  margin-top: -6px; 
  padding-right: 2px;
  width: 24px; 
}

.lang-active {
  font-weight: bold!important;
  color: black!important;
}

.top-icons {
  color: lightgray;
  font-size: 20px;
}


#art {
  height: 600px;
  max-width: 100%;
}

#btnOn {
  font-weight:bold;
}

#btnOff {
  cursor:pointer; color:#428BCA;
}


@media (max-width: 992px) {
  
  #art {
   height: 500px;
  }
  
  .container {
    width: 100%;
  }

  #corner {
    border-left: none;
    border-right: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  #learnMoreBio {  
    height: 350px;
  }
  
  #btn1,#btn2,#btn3,#btn4 {  
    margin-top: 5px;
  }
      
}


@media (max-width: 600px) {
  .lead {
    font-size: 21px;
  }
  
  #art {
    width: auto;
    min-height: 0;
    height: auto;
    max-height: 500px;
  }
  
  #corner {
    border-left: none;
    border-right: none;
    margin-left: -15px;
    margin-right: -15px;
  }
      
  #langMainDiv {
    text-align: right;
  }
  
  #btn1,#btn2,#btn3,#btn4 {
/*    border-radius: 0;*/
    display: block;
    margin: 5px 50px 0 50px;
    padding: 15px;
  }
  
  #btn4 {
    margin-bottom: -30px;
  }
  
  #learnMoreInfo {
    float: left;
  }
  
  #learnMoreBio {  
    text-align: justify;
    overflow: visible;
    display:inline;
  }
  
  .ui-pnotify.stack-learnMore{
    top: 2%;
    left: 5%; 
    width: 90%!important;
  }
  
  #learnMoreDiv {
   overflow: scroll!important;
 }
   
}


@media (max-width: 500px) {
  
  .ui-pnotify.stack-learnMore{
    text-align: center;
    left: 2%; 
    width: 96%!important;
  }
  
  #learnMoreInfo {
    float: none;
    padding: 0;
    max-width: none;
  }
      
  #art {
    min-height: 0;
    height: auto;
    max-height: 400px;
  }
          
  #btn1,#btn2,#btn3,#btn4 {  
    margin: 5px 10px 0 10px;
  }
    
  
}