/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */


/*@font-face {
   font-family: "My Custom Font";
   src: url('../fonts/minionpro-semibold.otf') format("truetype");
}
*/

#navigation {
  color: #444444;
  width: 100%;
  padding-top:5px;
  height: 44px;
  font-weight: bold;
  font-size: 24px
}

a {
  text-decoration: none
}
.background {
  text-align: center;
  background: #ffffff url("../img/bg5.jpg") no-repeat top center;
  background-size: 100% auto
}

/*#classicBackgroud {
  background: #ffffff url("../img/bg.png") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#menu {
  background: #0A0A0A url("../img/menu-bg.png") repeat-x top center;
  background-size: 100% 100%;
  font-family: Verdana, Tahoma;
  padding-top: 10px;
}
#menuItems {
  color: white;
  font-size: 20px;
  line-height: 44px;
  padding: 30px 30px 30px 30px
}
.menu-item {
  display: block;
  color: yellow
}
.menu-item span {
  color: white;
}
.menu-item-disabled {
  display: block;
  color: #444444;
  border: none dashed 1px #444444;
  text-align: center;
  font-size: 12px
}

/*.menu-active {
 color: yellow;
}

.menu-active span {
 color: white;
}*/

#picture {
  max-width: 100%;
  max-height: 60%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(69, 63, 7, 0.22), 0px 2px 5px 3px rgba(0, 0, 0, 0.20);
}
.picture-thumb {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(69, 63, 7, 0.22), 0px 2px 5px 3px rgba(0, 0, 0, 0.20);
}
.button-answer {
  color: #444444;
  font-family: Verdana, Tahoma;
  height: 50px!important;
  border: 1px solid lightgray;
  margin: 0 0 0 0 !important;
  /*opacity: 0.9;*/
  background-color: rgba(255, 255, 255, 0.8);
}
.button-answer text {
  font-size: 4.6vw;
}
.circle2 {
  border-radius: 50%;
  overflow: hidden;
  /*width: 60px;
 height: 60px;*/
  position: absolute;
  /*margin-top: -7px;*/
  left: 5%;
  top: 15%;
  height: 50px;
  width: 50px;
  /*	width: 100%;*/
  margin-top: 0px;
}
.circle2 img {
  width: 100%;
}
.button-answer-wrong {
  background-color: #D0021B!important;
  border-color: #D0021B!important;
  color: white!important;
}
.button-answer-right {
  background-color: #7ED321!important;
  border-color: #7ED321!important;
  color: white!important;
}
#buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#buttons2 {
  position: absolute;
  bottom: 4%;
  left: 15%;
  width: 100%;
  font-size: 12px!important;
}


#score {
  font-weight: normal;
  font-size: 16px;
  color: #444444!important;
}
.score-right {
  color: #444444;
}
.score-fail {
  color: #D0021B;
}
#help {
  color: #444444;
  font-family: Verdana, Tahoma!important;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
#win {
  display: none;
  position: absolute;
  top: 12%;
  width: 100%;
  z-index: 2;
}
#win img {
  width: auto;
}
#winDesc {
  display: none;
  position: absolute;
  bottom: 0;
  color: #444444;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(69, 63, 7, 0.22), 0px 2px 5px 3px rgba(0, 0, 0, 0.20);
}
#selectSetImg {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(69, 63, 7, 0.22), 0px 2px 5px 3px rgba(0, 0, 0, 0.20);
}
.welcome {
  background: #ffffff url("../img/splash.jpg") no-repeat top center;
  background-size: auto 100%;
}

.bioPhoto {
  width: 80%;
}

.painterBioText p{
	color: black;
	line-height: 24px;
	margin: 0 5px 10px 5px;
	text-align: left!important;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 400px) {
  /* Styles */

  .bioPhoto {
    width: 30%;
    pading-top: 10px
  }

  .players {
    margin-left: 10px;
  }

  #win {
    top: 25%;
  }
  #win img {
    width: 40%;
  }

  #buttons {
    /*bottom: 2%;*/
  }
  .button-answer {
    display: inline;
    overflow: hidden;
    line-height: normal;
  }
  [id='0'] {
    width: 35%!important;
    float: left;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  [id='0'] text {
    float: right;
    padding-right: 40px;
  }
  [id='0'] div {
    right: 5px;
  }
  [id='1'] {
    width: 35%!important;
    float: right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  [id='1'] text {
    float: left;
    padding-left: 40px;
  }
  [id='1'] div {
    left: 5px;
  }
  [id='2'] {
    width: 45%!important;
    float: left;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  [id='2'] text {
    float: right;
    padding-right: 40px
  }
  [id='2'] div {
    right: 5px;
  }
  [id='3'] {
    width: 45%!important;
    float: right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  [id='3'] text {
    float: left;
    padding-left: 40px;
  }
  [id='3'] div {
    left: 5px;
  }
  .button-answer text {
    font-size: 2.6vw
  }
  .circle {
    top: 4px
  }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */

  #buttons {
    /*bottom: 2%;*/
  }
  .button-answer {
    height: 80px!important;
  }
  .button-answer text {
    /*font-size: 5vw*/
  }
  .circle {
    height: 70px;
    width: 70px;
    top: 4px
  }
  [id='0'] {
    width: 35%!important;
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  [id='0'] text {
    float: right;
    padding-right: 80px;
  }
  [id='0'] div {
    right: 5px;
  }
  [id='1'] {
    width: 35%!important;
    float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  [id='1'] text {
    float: left;
    padding-left: 80px;
  }
  [id='1'] div {
    left: 5px;
  }
  [id='2'] {
    width: 45%!important;
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  [id='2'] text {
    float: right;
    padding-right: 80px
  }
  [id='2'] div {
    right: 5px;
  }
  [id='3'] {
    width: 45%!important;
    float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  [id='3'] text {
    float: left;
    padding-left: 80px;
  }
  [id='3'] div {
    left: 5px;
  }

}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */

  #win {
    top: 25%;
  }
  #win img {
    width: 30%;
  }

  #picture {
    max-height: 90%;
  }

  .ui-pnotify.answerRight {
    right: 25%!important;
    width: 50%!important;
  }
  .ui-pnotify.answerWrong {
    right: 25%!important;
    width: 50%!important;
  }





}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */

  #win {
    top: 25%;
  }
  #win img {
    width: 50%;
  }

  .ui-pnotify.answerRight {
    right: 25%!important;
    width: 50%!important;
  }
  .ui-pnotify.answerWrong {
    right: 25%!important;
    width: 50%!important;
  }



}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  /* Styles */

  #win {
    top: 25%;
  }
  #win img {
    width: 20%;
  }

  #buttons {
    /*bottom: 0%;*/
  }
  .button-answer {
    /*height: 120px!important;*/
  }

  .button-answer:hover {
    /*background-color: rgba(56,126,245,0.5);
    border-color: rgba(56,126,245,0.5);*/

    background-color: rgba(33, 104, 210, 0.8);
    border-color: rgba(33, 104, 210, 0.8);
    color: white;

    /*background-color: rgba(255,255,255,0.9);
    border-color: rgba(255,255,255,0.9);*/



  }

  .button-answer text {
    font-size: 1.5vw
  }

  /*.circle {
    height: 100px;
    width: 100px;
    top: 10px
  }*/

  [id='0'] {
    width: 35%!important;
    float: left;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  [id='0'] text {
    float: right;
    padding-right: 110px;
  }
  [id='0'] div {
    right: 10px;
  }
  [id='1'] {
    width: 35%!important;
    float: right;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  [id='1'] text {
    float: left;
    padding-left: 110px;
  }
  [id='1'] div {
    left: 10px;
  }
  [id='2'] {
    width: 45%!important;
    float: left;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  [id='2'] text {
    float: right;
    padding-right: 110px
  }
  [id='2'] div {
    right: 10px;
  }
  [id='3'] {
    width: 45%!important;
    float: right;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  [id='3'] text {
    float: left;
    padding-left: 110px;
  }
  [id='3'] div {
    left: 10px;
  }
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
