<html ng-app="artChallenge">
  <head>
    <meta charset="utf-8">
    <title>artChallenge Neo</title>
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script src="../js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script>
    var artChallenge = angular.module('artChallenge', []);
    
    artChallenge.controller('ArtCtrl', function ($scope, $http) {
      $scope.names = ['Larry', 'Curly', 'Moe' ];
      // $scope.enteredName = "loh";
      
      $scope.addName = function () {
        $scope.names.push($scope.enteredName);
        $scope.enteredName = '';
      };
      
      $scope.removeName = function(name) {
        var i = $scope.names.indexOf(name);
        $scope.names.splice(i,1);
      };
      
      $http.get('data.json').then(function(res){
                $scope.painter = res.data;
              });
      
    });    
    
    </script>
  </head>
  <body ng-controller="ArtCtrl">
    <ul>
      <li ng-repeat="name in names">{{name}}
        <a href= "" ng-click="removeName(name)">remove</a>
      </li>
    </ul>
    
    <form ng-submit="addName()">
      <input type="text" ng-model="enteredName">
      <input type="submit" value="add">
    </form>
    
    <span>{{enteredName}}</span>
    
    <ul>

        {{ painter.name.ru }}

    </ul>
    
    <script>
      $.getJSON("data.json", function(json) {
          console.log(json); // this will show the info it in firebug console
      });
    </script>

</body>
</html>