<ion-view hide-nav-bar="true">
  <ion-content class="background">

    <div id='navigation'>
      <div class="row">
        <div class="col col-10" ng-click="openMenu();">
          <div >
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: 1px; font-size: 16px'>
          {{lang.desc.setChooseDesc}}
        </div>
        <div class="col col-10"></div>
      </div>
    </div>

    <!-- <span style='float:left; margin-top: 30%; padding-left: 5px; font-size: 20px; color: #444444'><i class="ion-chevron-left"></i></span>
    <span style='float:right; margin-top: 30%; padding-right: 5px; font-size: 20px;  color: #444444'><i class="ion-chevron-right"></i></span> -->

    <p style='margin: 0 0 5px 0; color: lightgray; font-size: 12px;'>
      <i class='ion-arrow-left-b'></i>
      {{lang.desc.swipeCollections}}
      <i class='ion-arrow-right-b'></i>
    </p>

    <ion-slide-box active-slide="activeSlideId()" does-continue='true' show-pager="false">
      <!-- on-slide-changed="slideHasChanged($index)" -->
      <ion-slide ng-repeat="set in sets">

        <div class="item item-body box col col-offset-10 col-80" style='border:none; padding: 5px 0 0 0; background: none;'>

          <div style="text-align: left; margin-left: 0px">
            <div class='row' style='padding: 0'>
              <div class='col' style='padding: 0 0 10px 0;'>
                <h2 style='font-size: 18px; margin: 0 0 0 0; color: #444444'>{{lang.sets[set.id+'Set']}}</h2>
              </div>
            </div>

            <img class='' ng-src="img/sets/{{set.id}}Set-picture.jpg" style='width: 100%;'>
            <p style='margin: 0px; color: #444444;'>{{lang.sets[set.id+'Set-count']}}</p>
            <p style='margin: ; color: #444444;'>{{lang.sets[set.id+'Set-desc']}}</p>
          </div>

          <div style="text-align: center; margin: 20px 0 20px 0">
            <button class="button button-full button-balanced" ng-click="changeSet(set);" ng-if="settings.currentSet.id != set.id">{{lang.desc.setChooseBtn}}</button>
            <div class='' ng-if="settings.currentSet.id == set.id" style='font-size: 16px; color: #444444'>
              <i class="icon ion-ios-checkmark-outline"></i>
              {{lang.desc.setPlayingNow}}</div>
          </div>

          <h2 style='font-size: 24px; color: #444444'>
            <i class='ion-drag'></i>
          </h2>

          <div style="text-align: left;">
            <button class="button button-full button-answer" ng-repeat="painter in showPainters(set) track by $index" on-tap="showPainterInfoById($event)" style='border: none; text-align: center; padding: 0'>
              <div class="circle"><img ng-src="img/painters/{{painter.id}}.jpg"></div>
              <text style='padding-left: 50px'>{{lang.painters[painter.id]}}
                <span style='font-size: 12px; color: lightgray'>
                  <i class='ion-image'></i>
                  {{painter.paintings}}</span>
              </text>
              <div id='painterId' style='display: none'>{{painter.id}}</div>
            </button>
          </div>

        </div>

      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
