<ion-view hide-nav-bar="true">
  <ion-content id='classicBackgroud' class="background" scroll="false">

    <div id='navigation'>

      <div class="row" ng-if='gameMode=="classic"'>


        <div class="col col-20" ng-click="hideAnswers()" style='text-align: left;'>
          <div style='font-size: 22px; font-weight: normal; padding-left: 20px'>
            Art Challenge
				    <!-- <i class="ion-ios-search-strong"></i> -->
            <!-- <img id='iconZoom' src='img/ui/zoom_in.png' style='height: 18px'> -->
			   </div>
        </div>


        <div class="col col-40" style='margin-top: '> <!-- ng-click='changeGameMode("tournament");' -->

          <span ng-repeat="i in answers track by $index">
            <i ng-class="{true: 'score-right ion-ios-checkmark', false: 'score-fail ion-ios-close-outline'}[i]" style='font-size: 16px;'></i>
          </span>
          <span ng-repeat="i in getScores(10-answers.length) track by $index">
            <i class="ion-ios-circle-outline" style='font-size: 16px;'></i>
          </span>
        </div>

        <div class="col col-20"  style='text-align: right'>

          <div ng-click="openMenu();" ng-if="settings.registered">
            <a href="#" menu-close class="item" style='padding:0 20px 0 0; border: none; background: none;'>
              <!-- <img src='img/avatar-dummy.png'> -->
              <h2 style='font-size: 20px; font-weight: normal; color: #444'>{{userInfo.name}} <i class="ion-ios-cog-outline" id='menuIcon'></i></h2>
              <!-- <p>{{userInfo.email}}</p> -->

              <div style='font-weight: normal; font-size: 14px; padding-top: 0px;'>
                <i class="ion-ribbon-a balanced"></i>
                {{userStats.wins[settings.currentSet.id]}}
                /
                <i class="ion-university positive"></i>
                {{userStats.stats[settings.currentSet.id]}}% /
                <i class="ion-arrow-graph-up-right energized"></i>
                {{userStats.leaderboard[settings.currentSet.id]}}
              </div>
            </a>
          </div>

          <div ng-if="!settings.registered" style='width: 100%; margin: 0px'>
            <span class="item item-avatar" ng-click="login()" style='padding:0px; border:none; background: none;'>
              <!-- <img src='img/avatar-dummy.png'> -->
              <h2 style=''>{{lang.desc.loginUnregisteredPlayer}}</h2>
              <p>{{lang.desc.loginClickToRegister}}</p>
            </span>
          </div>



        </div>






      </div>

      <div class='row' ng-if='gameMode=="tournament"'>
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-80" style='margin-top: 1px; font-size: 16px; font-weight: normal;' ng-click='showLeaderboard()'>
          <i class="ion-arrow-graph-up-right"></i> {{answers.length}}
          /
          <i class="ion-arrow-graph-up-right energized"></i> {{userStats.leaderboard[settings.currentSet.id]}}
          <span ng-if='leaderboardMyPlace != false'>/ <i class="ion-podium energized"></i> {{lang.desc.yourPlace.replace('__place__', leaderboardMyPlace)}}</span> <!--  -->
        </div>
        <div class="col col-10" ng-click="hideAnswers()">
          <div >
				    <!-- <i class="ion-ios-search-strong"></i> -->
            <img id='iconZoom' src='img/ui/zoom_in.png' style='height: 18px'>
			   </div>
        </div>
      </div>

      <div class='row' ng-if='gameMode=="duel"'>
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: -1px'>
          duel
        </div>
        <div class="col col-10">
          <div ng-click=""></div>
        </div>
      </div>

    </div>
    <!-- <ion-scroll zooming="true" direction="xy" scrollbar-x='false' scrollbar-y='false' min-zoom='1' style=''> -->
    <img id="picture" imageonload='imageloaded();' ng-click='hideAnswers()' ng-src="{{picture}}" style="visibility: hidden;">
    <!-- </ion-scroll> -->
    <!-- <br>{{lang.painters[currentPainter.id]}} подсказка-->
    <img id='picture-preload' ng-src="{{picturePreloadUrl}}" style='visibility: hidden; width: 1px;'>

    <div id="win">
      <img id='winImg' ng-click='showCloseWin();' ng-src='img/medals/winner-medal-{{settings.langId}}.png'>
    </div>

    <div id='winDesc'>
      <h2>{{lang.message.winner}}</h2>
      <p>{{lang.message.winnerMobile}}
        <b>{{lang.sets[settings.currentSet.id+'Set']}}</b>!</p>
      <p>{{lang.message.shareOrTournament}}</p>
      <button id='btnShowShare' class="button button-full button-positive" ng-click='showShare();'>
        <i class='icon ion-ios-upload-outline'></i>
        {{lang.message.shareWithFriends}}</button>
      <button class="button button-full button-energized" ng-click='changeGameMode("tournament");'>
        <i class='icon ion-trophy'></i>
        {{lang.message.playTournament}}</button>
    </div>




  </ion-content>

  <div id="buttons2">
    <button class="button  button-answer"  style='width: 35%; height: 80px!important;' ng-repeat="painter in candidates track by $index"  ng-click="checkAnswer($event)"> <!-- on-hold="showPainterInfoById($event, true)" -->
      <div class="circle2"><img ng-src="img/painters/{{painter.id}}.jpg"></div>
      <text style='text-align: left; padding-left: 20px'>{{lang.painters[painter.id]}}</text>
      <div id='painterId' style='display: none'>{{painter.id}}</div>
    </button>
  </div>

</ion-view>
