<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{lang.desc.menuTournament}}</h1>
    <div class="buttons">
      <button style='font-size: 46px; padding-right: 10px; margin-top: -7px;' class="button button-clear" ng-click="closeLeaderboard()"><i class="ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="background">

    <!-- <div id='navigation' style='color: #444444; width: 100%; height: 44px; font-weight: bold; font-size: 24px'>
      <div class="row">
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: 1px; font-size: 16px'>
          Таблица лидеров
        </div>
        <div class="col col-10">
        </div>
      </div>
    </div> -->

    <h5 ng-if='errorOffline' style='color: #444444'>{{lang.desc.errorOffline}}</h5>


    <div style='text-align: center; margin-top: 0px'>
      <ion-slide-box active-slide="activeSlideId()" show-pager="false" does-continue='true' on-slide-changed="slideHasChanged($index)" style='height: 100px;'>
        <ion-slide ng-repeat="set in sets">
          <h5 style='color: #444444'>
            {{lang.sets[settings.currentSet.id+'Set']}}

            <!-- <img ng-src="img/sets/{{set.id+'Set.png'}}" style="height: 30px; margin:0 5px  -10px 0">  -->
          </h5>

          <a href="#/app/changeSet" menu-close>
            <img ng-src="img/sets/{{set.id}}Set-picture.jpg" style="max-width: 50%">
            <div style='color: white; font-size: 14px; line-height: 20px;'>{{lang.sets[set.id+'Set']}}</div>
          </a>
        </ion-slide>
      </ion-slide-box>

      <!-- <text style=' font-size: 12px; color: gray'><i class='ion-arrow-left-b'></i> {{lang.desc.swipeCollections}} <i class='ion-arrow-right-b'></i></text> -->

      <!-- {{leaderboard}} -->
    </div>
    <br>
    <!-- <h5 style='color: #444444; font-weight: normal;'>Чтобы принять участие в турнире, пройдите игру в одиночном режиме</h5> -->

    <div ng-if='!errorOffline' class='list card' style='margin-top: 0px'>

      <!-- <a href="#" class="item ">

    Enter home address
  </a> -->




      <a ng-repeat="player in leaderboard track by $index" href="#" class="item item-icon-left" style='border: none; margin: 10px 0 10px 0'>

        <!-- <p class='icon players'></p> -->
        <!-- <i class="icon ion-home"></i> -->
        <p class='icon players' style='font-size: 18px'>
          {{$index + 1}}.
          <img style='height: 20px; margin: 0 5px 5px 10px' src='img/avatar-dummy.png'>
           {{player.value}}
        </p>
        <text style='color: #444; float: right; margin: 0 0px 0px 10px'><i class='ion-arrow-graph-up-right energized'></i> {{player.key}}</text>

        <!-- <p>{{userInfo.email}}</p> -->

        <!-- <div style=' color: white; font-size: 16px; padding-top: 4px;'>
          <i class="ion-ribbon-a balanced"></i>
          {{userStats.wins[settings.currentSet.id]}}
          /
          <i class="ion-university positive"></i>
          {{userStats.stats[settings.currentSet.id]}}% /
          <i class="ion-arrow-graph-up-right energized"></i>
          {{userStats.leaderboard[settings.currentSet.id]}}
        </div> -->
      </a>

      <!-- <div class="item item-avatar">
    <img src="avatar.jpg">
    Pretty Hate Machine

  </div> -->

      <!-- <div ng-repeat="player in leaderboard track by $index" class="button button-full button-answer" style='border: none; text-align: left;'>

        <p class='players'>{{$index + 1}}. <i class="ion-person"></i>
        {{player.value}} <span style='font-size: 12px;'><i class='ion-arrow-graph-up-right energized'></i> {{player.key}} {{lang.desc.picturesInRow}}</span></p>
      </div> -->

    </div>



  </ion-content>
</ion-view>
