<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{lang.desc.loginTitle}}</h1>
    <div class="buttons">
      <button style='font-size: 46px; padding-right: 10px; margin-top: -7px;' class="button button-clear" ng-click="closeLogin()"><i class="ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>

  <div class="card">
    <div class="item item-text-wrap">
		<form ng-submit="doRegister()">
			<label class="item item-input item-stacked-label">
				<span class="input-label"><strong>{{lang.desc.loginName}}</strong></span>
				<input type="text" ng-model="registerData.username" placeholder="{{lang.desc.loginNameExample}}">
			</label>
			<label class="item item-input item-stacked-label" style="border-bottom: 0">
				<span class="input-label"><strong>{{lang.desc.loginEmail}}</strong></span>
				<input type="text" ng-model="registerData.email"  placeholder="{{lang.desc.loginEmailExample}}">
			</label>
			<button id='btnRegister' class="button button-block button-positive" type="submit">{{lang.desc.loginBtnRegister}}</button>
		</form>
    <p>{{lang.desc.loginRegisterDesc}}</p>
	</div>
  </div>

  <div class="card">
    <div class="item item-divider">
      {{lang.desc.loginLoginForRegistered}}
    </div>
    <div class="item item-text-wrap">
		<form ng-submit="doLogin()">
			<label class="item item-input item-stacked-label" style="border-bottom: 0">
				<span class="input-label"><strong>{{lang.desc.loginEmail}}</strong></span>
				<input type="text" ng-model="loginData.email" placeholder="{{lang.desc.loginEmailExample}}">
			</label>
			<!-- <label class="item item-input item-stacked-label" style="border-bottom: 0"> -->
				<!-- <span class="input-label">Пароль</span> -->
				<!-- <input type="text" ng-model="loginData.password"> -->
			<!-- </label> -->
			<button id='btnLogin' class="button button-block button-positive" type="submit">{{lang.desc.loginBtnLogin}}</button>
		</form>
    <p>{{lang.desc.loginLoginForRegisteredHint}}</p>
	</div>
  </div>


<!--  <div class="card">
    <div class="item item-divider">
      Вход через соцсети
    </div>
    <div class="item item-text-wrap">
		<button on-tap='doLoginVK()' class="button button-block button-positive" type="submit">ВКонтакте</button>
		<button on-tap='doLoginFB()' class="button button-block button-positive" type="submit">Facebook</button>
	</div>
  </div> -->


  </ion-content>
</ion-modal-view>
