<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{infoPainterName}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalPainterShowInfo.hide()" style='font-size: 46px; padding-right: 10px; margin-top: -7px;'>
        <i class="ion-ios-close-empty"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="item" style='padding: 0px; text-align: center; border: 0; width: 100%'>

      <ion-slide-box active-slide="0" delegate-handle='showPainterInfo' on-slide-changed="" show-pager="false" style='height: 250px; background-color: lightgray; padding: 10px 0 10px 0; margin: 0px 0 0px 0'>

        <ion-slide>
          <img class='picture-thumb' ng-src="img/painters/{{infoPainterId}}.jpg" style="height: 100%;">
        </ion-slide>

        <ion-slide ng-repeat="painting in infoPainterPaintings | limitTo : 50">
          <img class='picture-thumb' ng-src="{{painting}}" style="max-height: 100%;">
        </ion-slide>
      </ion-slide-box>

      <text style='font-size: 12px; margin: 5px 0 5px 0;'>
        <i class='ion-arrow-left-b'></i>
        {{lang.desc.swipePictures}}
        <i class='ion-arrow-right-b'></i>
      </text>


      <div class="row">
        <div class="col col-50">
          <p>
            <b>{{lang.message.nationality}}</b><br>{{infoPainternationality}}</p>
        </div>

        <div class="col col-50">
          <p>
            <b>{{lang.message.years}}</b><br>{{infoPainterYears}}</p>
        </div>
      </div>


      <div class="row">
        <div class="col col-100">
          <p style='white-space: normal!important'>
            <b>{{lang.message.genre}}</b><br>{{infoPainterGenre}}</p>
        </div>
      </div>

      <div class='row item-body'>
        <div class="col">
          <p class='painterBioText' ng-bind-html="infoPainterBio"></p>

          <button ng-click="openLink(infoPainterLink)" class="button button-full button-positive">
            Wikipedia
            <i class="icon ion-ios-redo"></i>
          </button>



        </div>
      </div>

    </div>

  </ion-content>
</ion-modal-view>
