

<ion-view hide-nav-bar="true" class="welcome">
  <ion-content scroll="false">
   

	   <!-- <img ng-click='goToClassic()' ng-src="img/Default~iphone.png"> -->
	   <!-- <div style='background-color: #000000; height: 1000px; opacity: 0.4;'>

		</div> -->



		<div style='left:5%; width: 90%; position:absolute; top: 10%; text-align: center;'>
		<h1 style='color: white; font-size: 34px; font-weight: bold;'>ART CHALLENGE</h1>

		<h5 style='color: white;font-size: 20px; line-height: 30px; margin-top: -20px; font-weight: bold;'>edutainment game</h1>
		</div>
		
		
		<div style='left:15%; width: 70%; position: absolute; bottom: 20%; text-align: center;'>
			<button ng-click='goToClassic();' class='button button-balanced button-full'>Начать игру</button>
		</div>
		

  </ion-content>
</ion-view>
